*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(214, 111, 218);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    background-color: aliceblue;
    height: 28%;
    width: 28%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size: 3em;
    color: purple;
}
#reset{
    padding: 10px;
    font-size: 1.25em;
    background-color: rgb(31, 147, 185);
    color: aliceblue;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}